*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form input{
    border: none;
    border-radius: 3px;
    width: 300px;
    padding-left: 10px;
    height: 35px;
    background-color: rgb(150, 149, 149);
}

form input::placeholder{
    color: black;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}